<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Vue</title>
</head>
<body>
    <div id="app">
        <h1>{{titulo}}</h1>
        <label for="">Nome</label><br>
        <input type="text" v-model="nome"></input><br>

        <label for="">Telefone</label><br>
        <input type="number" v-model="telefone"></input>

        <br><br>
        <label for="">Deseja receber nossas novidades?</label><br>
        <input type="radio" value="Sim" v-model="novidades">Sim</input><br>
        <input type="radio" value="Não" v-model="novidades">Não</input>

        <br><br>
        <label for="">Interesses</label><br>
        <input type="checkbox" value="Futebol" v-model="interesses">Futebol</input><br>
        <input type="checkbox" value="Fórmula 1" v-model="interesses">Fórmula 1</input><br>
        <input type="checkbox" value="Corrida" v-model="interesses">Corrida</input>

        <br><br>
        <label for="">Como nos conheceu?</label><br>
        <select v-model="conheceu">
            <option value="">Escolha</option>
            <option value="Google">Google</option>
            <option value="TV">TV</option>
            <option value="Revista">Revista</option>
        </select>

        <br><br>

        <button>Enviar</button>

        <br><br>

        Nome: {{nome}}<br>
        Telefone: {{telefone}}<br>
        Deseja receber novidades? {{novidades}}<br>
        Interesses: {{interesses}}<br>
        Como nos conheceu?: {{conheceu}}<br>

    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                titulo: "Aula 05 - v-model",
                nome: "",
                telefone: "",
                novidades: "",
                interesses: [],
                conheceu: "",
            }
        });

    </script>
</body>
</html>